.container{
    height: 10vh;
    width: 100%;
    background-color: #067633;
    /* box-shadow: 0px 0px 5px 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 80%;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.available{
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
}

.head{
    text-decoration: underline;
    font-weight: bold;
    font-size: medium;
}



.charts{
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: space-around;

}
