.land{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: linear-gradient(rgba(246, 238, 238, 0.8), rgba(252, 252, 252, 0.8)), url(https://res.cloudinary.com/dnrxsykwg/image/upload/v1713003322/img1_wmpznh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.boxLand{
    width: 85vw;
    height: 60vh;
    /* background-color: #1e647b; */
    background-color: #0b5482;
    border-radius: 10px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 16px 0px #020202;
    font-family: 'Josefin Sans';
}
.contentBox{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.headBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mascot{
    width: 30%;
    background-image: url("https://res.cloudinary.com/dsu2kv8ym/image/upload/v1718446867/main_igilnx.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.head{
    height: 30%;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 0px 2px 3px #282828;
    text-align: center;
}

.subHead{
    height: 40%;
    font-size: 1.25rem;
    width: 85%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}

button{
    height: 35%;
    width: 55%;
    background-color: #282828;
    border-radius: 7px;
    color: white;
    font-family: 'Myanmar Khyay', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease all 0.2s;
    border-color: white;
    border: 1px solid white;
    box-shadow: -6px 6px 8px -2px #282828;
}

button:hover{
    background-color: #15533b;
}

button:active{
    scale: 0.9;
    transition: ease all 0.2s;
}

.btn{
    font-size: initial;
    background-color: #282828;
}