.main{
    /* background-color: #0A3656; */
    background-image: url(https://res.cloudinary.com/dnrxsykwg/image/upload/v1713003320/bg_nnmaea.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;   
    display: flex; 
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    color: white;
    font-family: 'Josefin Sans';
    font-weight: bolder;
    font-size: 2.75rem;
}

.left{
    text-align: left;
    line-height: 1.2;
}

.right{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 1.2;
}

.btn{
    width: 20vw;
    height: 10%;
    font-size: initial;
    background-color: #282828;
}