.content{
    width: 100%;
    height: 35vh;
}

.head{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://res.cloudinary.com/dnrxsykwg/image/upload/v1713003322/img1_wmpznh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'Josefin Sans';
    font-weight: bolder;
}