.main{
    background-color: #065143;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.head{
    font-family: 'Josefin Sans';
    font-weight: bolder;
    font-size: 3.25rem;
    color: white;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    height: 60%;
    /* width: 80%; */
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 25%;
    height: 90%;
    background: rgb(255, 255, 255);
    opacity: 0.7;
    transition: ease all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px  rgba(0, 0, 0, 0.705);
    font-size: 1.5rem;
    font-weight: 800;
    color: #065143;
    font-family: 'Poppins';
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 2px  rgba(0, 0, 0, 0.705);
    background: rgb(255, 255, 255);
    opacity: 1;
  }
  
  .first_content {
    height: 100%;
    width: 100%;
    transition: ease all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first_content {
    height: 0px;
    opacity: 0;
  }
  
  .second_content {
    height: 0%;
    width: 90%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0s;
    font-size: 0px;
    transform: rotate(90deg) scale(-2);
    text-align: center;
    margin: auto;
  }
  
  .card:hover .second_content {
    opacity: 1;
    height: 100%;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: rotate(0deg);
  }
  